// TYPOGRAPHY ================================================
$base-font: 'source-sans-pro', sans-serif;
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: 'source-code-pro', monospace;
$alt-font: 'volkhov', serif;

$doc-font-size: 16;
$doc-line-height: 24;


// set-up the body font-size / line-height
body {
	margin-top: 0px + $doc-line-height;
	font-size: 0px + $doc-font-size;	
}


// COLORS =====================================================
$body-color      		: #ecf0f1;
$text-color      		: #454545;
$base-color 	 		  : #2d2c50;	  
$comp-color 	 		  : spin($base-color, 180); 
$border-color    		: $base-color;
$white           		: #fff;
$black           		: #2c3e50;
$accent-color    		: $black;
$link-color 		    : #444544;


// MEDIA QUERIES ==============================================
$micro            : "only screen and (min-width: 30em)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";
